*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;}
html{height:100%;}
body{
	border-top:10px solid #B0C54A;
	border-bottom:4px solid #B0C54A;
	background-color:#ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	min-height:100%;
}
#wrapper{margin:0 auto;padding:45px 10px 0;}

#header{}
#logo{position:relative;}
#logo a{text-decoration:none;}
#logo .gLeft,
#logo .gRight{color:#fff;display:inline-block;font-size:40px;font-weight:bold;text-align:center;padding:10px 5px 24px 5px;}
#logo .gLeft{background-color:#B0C54A;}
#logo .gRight{background-color:#7CA81A;}
#logo h1{
	font-family: 'Noto Sans', sans-serif;
	font-weight:normal;}
#logo .text{color:#35362f;display:inline-block;font-size:83%;}
section{display:block;}

.navbar{
}
.navbar ul{list-style:none;height:auto;}
.navbar > ul{text-align:right;}
.navbar > ul > li > a,
.navbar > ul > li > span{
	color:#35362f;
	cursor:pointer;
	display:block;
	padding:37px 0px 10px 24px;
	text-decoration:none;}
.navbar > ul > li > a:hover{color:#35362f;}
.navbar > ul > li{display:inline-block;}

.dropdown{position:relative;}
.dropdown:hover .dropdown-menu{display:block;}
.dropdown-menu{
	background-color:#fff;
	display:none;
	left:0px;
	list-style:none;
	padding:5px 0px 5px 24px;
	position:absolute;
	top:100%;}
.dropdown-menu > li{display:block;}
.dropdown-menu a{
	color:#062A47;
	display:block;
	padding:3px 0px;
	text-align:left;}
.dropdown-menu a:hover{color:#333;}